<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.aquapulse.tapo-poller</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/koichi/Projects/aquapulse/.venv/bin/python</string>
        <string>/Users/koichi/Projects/aquapulse/scripts/tapo_poller.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/koichi/Projects/aquapulse</string>
    <key>StartInterval</key>
    <integer>900</integer>
    <key>StandardOutPath</key>
    <string>/tmp/aquapulse-tapo-poller.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/aquapulse-tapo-poller.err</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
